/* Background image */

.bg-img{
    position: fixed;
    width: 100%;
    z-index: -1000;
    object-fit: cover;
}

/* Edit form */

.ed-form{
    background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6));
    backdrop-filter: blur(5px);
    border-radius: 5px;
    margin-bottom: 30px;
}

/* Button */

.formedit-bt{
    background-color: #009485;
    border: 1px solid #009485;
    padding: 6px;
    border-radius: 4px;
    color: white;
    margin-bottom: 20px;
}

.formedit-bt:hover{
    text-decoration:none;
    background-color:#00AC9A;
    border: 1px solid #009485;
    color: white;
}