@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.omw{
    font-family:'Kaushan Script';
    font-size: 24px;
}

.hover:hover{
    text-decoration:none;
    color:black;
    font-weight: bold;
}

