@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.omw{
    font-family:'Kaushan Script';
    font-size: 24px;
}

.preferences:hover{
    text-decoration:none;
    color:black;
}

.jobs:hover{
    text-decoration:none;
    color:black;
}

.logout:hover{
    text-decoration:none;
    color:black;
}

.profile-nav:hover{
    text-decoration:none;
    color:black
}