/* Logo */

.logobw{
  position: absolute;
  top: 20%;
  left: 50%;
  width: 130px;
  transform: translate(-50%, -50%);
}

/* Sign up */

.signup{
  position: absolute;
  top: 70%;
  left:41.5%;
}

.signup:hover{
  text-decoration: none;
  color:  #005950;
}

/* Login */

.login{
  position: absolute;
  top: 70%;
  left:54%;
  color: #005950;
}

.login:hover{
  text-decoration: none;
  color:  #005950;
}

/* Typewriter */

.typewriter{
    position: absolute;
    width:700px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 40px 100px ;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

