.login{
    position: absolute; 
    margin-top: 480px;
    margin-left: 850px;
    color: #005950;
}

.login:hover{
    text-decoration: none;
    color:  #005950;
}


.signup{
    position: absolute; 
    margin-top: 480px;
    margin-left: 680px;
}


.signup:hover{
    text-decoration: none;
    color:  #005950;
}


