.login{
    position: absolute; 
    margin-top: 480px;
    margin-left: 850px;
    color: #005950;
}

.login:hover{
    text-decoration: none;
    color:  #005950;
}


.signup{
    position: absolute; 
    margin-top: 480px;
    margin-left: 680px;
}


.signup:hover{
    text-decoration: none;
    color:  #005950;
}

.typewriter{
    position: absolute;
    width:700px;
    top:100px;
    left:100px
}

.typewriter p{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  color: white;
  white-space: wrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5.5s steps(100, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
