.option{
    height: 200px;
    width: 290px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 10px;
    color: black;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    background-size: cover;
    padding-top: 20px
}


.cont {
    font-size: 17px;
}

.sy {
    background-image: linear-gradient(rgba(255,255,255,1) 5%, rgba(0,0,0,0.2)), url("https://res.cloudinary.com/nataliafndz26/image/upload/v1607945716/Onmyway/PREFERENCES/photo-1469854523086-cc02fe5d8800_vjawvd.jpg");
   
}

select[multiple] option:checked{
    border: 2px solid #009485;
    color:red;
} 

/* .sy:checked, .sy:active, .sy:focus {
    border: 2px solid #009485;
    color:red;
} */

.pd{
    background-image: linear-gradient(rgba(255,255,255,1) 1%, rgba(0,0,0,0.2)), url("https://res.cloudinary.com/nataliafndz26/image/upload/v1607945819/Onmyway/PREFERENCES/photo-1526948531399-320e7e40f0ca_txg2rl.jpg");
   
}

.sk{
    background-image: linear-gradient(rgba(255,255,255,1) 5%, rgba(0,0,0,0.2)), url("https://res.cloudinary.com/nataliafndz26/image/upload/v1607945972/Onmyway/PREFERENCES/photo-1483048135245-05d6017c6cef_oksgio.jpg");
   
}

.ta{
    background-image: linear-gradient(rgba(255,255,255,1) 1%, rgba(0,0,0,0.2)), url("https://res.cloudinary.com/nataliafndz26/image/upload/v1607946086/Onmyway/PREFERENCES/photo-1467348331559-d2587ae4d95c_ebn04n.jpg");
}

.ct{
    background-image: linear-gradient(rgba(255,255,255,1) 5%, rgba(0,0,0,0.2)), url("https://res.cloudinary.com/nataliafndz26/image/upload/v1607946172/Onmyway/PREFERENCES/photo-1530789253388-582c481c54b0_sn4yzh.jpg");
}

.dn{
    background-image: linear-gradient(rgba(255,255,255,1) 5%, rgba(0,0,0,0.2)), url("https://res.cloudinary.com/nataliafndz26/image/upload/v1607946227/Onmyway/PREFERENCES/photo-1454165804606-c3d57bc86b40_kzxban.jpg");
}

.ll{ 
    background-image: linear-gradient(rgba(255,255,255,1) 1%, rgba(0,0,0,0.2)), url("https://res.cloudinary.com/nataliafndz26/image/upload/v1607946309/Onmyway/PREFERENCES/photo-1461280360983-bd93eaa5051b_dichrc.jpg");
}

.b{ 
    background-image: linear-gradient(rgba(255,255,255,1) 1%, rgba(0,0,0,0.2)), url("https://res.cloudinary.com/nataliafndz26/image/upload/v1607946380/Onmyway/PREFERENCES/photo-1521335751419-603f61523713_ifhlyf.jpg");
}

.tnf{ 
    background-image: linear-gradient(rgba(255,255,255,1) 1%, rgba(0,0,0,0.2)), url("https://res.cloudinary.com/nataliafndz26/image/upload/v1607948670/Onmyway/PREFERENCES/photo-1539275233373-4b43107f0f9e_lkobbo.jpg");
}

.sd{ 
    background-image: linear-gradient(rgba(255,255,255,1) 1%, rgba(0,0,0,0.2)), url("https://res.cloudinary.com/nataliafndz26/image/upload/v1607948793/Onmyway/PREFERENCES/photo-1527357985325-dfb3f8762e16_q40nd8.jpg");
}

.wwg{ 
    background-image: linear-gradient(rgba(255,255,255,1) 1%, rgba(0,0,0,0.2)), url("https://images.unsplash.com/photo-1556741533-6e6a62bd8b49?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}

.cl{ 
    background-image: linear-gradient(rgba(255,255,255,1) 5%, rgba(0,0,0,0.2)), url("https://res.cloudinary.com/nataliafndz26/image/upload/v1607949036/Onmyway/PREFERENCES/photo-1467528679268-767fb756be27_mjggme.jpg");
}

.te {
    background-image: linear-gradient(rgba(255,255,255,1) 1%, rgba(0,0,0,0.2)), url("https://res.cloudinary.com/nataliafndz26/image/upload/v1608211441/Onmyway/PREFERENCES/photo-1489451058181-433dc9ffa757_xclfhy.jpg");
}

.co {
    background-image: linear-gradient(rgba(255,255,255,1) 1%, rgba(0,0,0,0.2)), url("https://res.cloudinary.com/nataliafndz26/image/upload/v1607949494/Onmyway/PREFERENCES/photo-1556912999-8cd7c2582a5e_muwquw.jpg");
}

.cw {
    background-image: linear-gradient(rgba(255,255,255,1) 5%, rgba(0,0,0,0.2)), url("https://res.cloudinary.com/nataliafndz26/image/upload/v1607949543/Onmyway/PREFERENCES/photo-1548102245-c79dbcfa9f92_j3bki7.jpg");
}

.ea{
    background-image: linear-gradient(rgba(255,255,255,1) 1%, rgba(0,0,0,0.2)), url("https://res.cloudinary.com/nataliafndz26/image/upload/v1607949613/Onmyway/PREFERENCES/photo-1569880153113-76e33fc52d5f_kcwo8k.jpg");
}

.wwa{
    background-image: linear-gradient(rgba(255,255,255,1) 1%, rgba(0,0,0,0.2)), url("https://images.unsplash.com/photo-1509713624941-ec563a5a6e9d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}

.it{
    background-image: linear-gradient(rgba(255,255,255,1) 1%, rgba(0,0,0,0.2)), url("https://res.cloudinary.com/nataliafndz26/image/upload/v1607949668/Onmyway/PREFERENCES/photo-1522071901873-411886a10004_y0b4hd.jpg");
}

.myselect{
    border: none;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(147, 212, 255);
    border-radius: 15px
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 189, 189);
}

.magic {
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

.magic svg {
    position: absolute;
    right: 2;
}

.magic svg rect {
    stroke-width: 3;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.magic span{
  background:rgb(248, 137, 206);
  background: -moz-linear-gradient(left,  rgb(153, 0, 120) 0%, rgb(255, 18, 97) 100%);
  background: -webkit-linear-gradient(left,  rgba(153, 0, 120, 1) 0%, rgb(255, 18, 97, 1) 100%);
  background: linear-gradient(to right,  rgba(153, 0, 120, 1) 0%, rgba(255, 18, 97, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  padding-left: 14px;
}

.magic:hover svg rect {
    stroke-width: 3;
    stroke-dasharray: 148, 422;
    stroke-dashoffset: 337;
}

