
.option{
    height: 150px;
    width: 290px;
    background-image: url("https://images.adsttc.com/media/images/5d44/14fa/284d/d1fd/3a00/003d/large_jpg/eiffel-tower-in-paris-151-medium.jpg?1564742900");
    object-fit: cover;
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 10px;
    
}

.myselect{
    border: none;
}

.buton{

}