
.bg-img{
    position:fixed;
    width: 100%;
    z-index: -1000;
    object-fit: cover;
}

.init{
background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6));
    backdrop-filter: blur(5px);
    border-radius: 5px;
    margin-bottom: 40px;
    padding-top:30px;
    padding-bottom:30px;
}

.editprofile{
    background-color: rgb(106, 197, 250);
    padding: 8px;
    border-radius: 10px;
    color: white;
    margin-left: 40px;
    /* display: flex;
    justify-content:center */
}

.editprofile:hover{
    text-decoration: none;
    color: black;
}

.newjob{
    background-color: rgb(251, 145, 255);
    padding: 8px;
    border-radius: 10px;
    color: white;
    margin-left: 40px;
}

.newjob:hover{
    text-decoration: none;
    color: black;
}

.description{
    padding-bottom: 30px
}

.name{
    text-align:center;
    padding-bottom: 10px;
}


.editpreferences{
    background-color: rgb(255, 169, 222);
    padding: 8px;
    border-radius: 10px;
    color: white;
    margin-left: 40px;  
    text-align:center
}

.editpreferences:hover{
    text-decoration: none;
    color: black;
}