/* Background image */

.all{
    position:fixed;
    width: 100%;
    z-index: -1000;
    object-fit: cover;
}

/* Tabs */

.tabs{
    color: black;
}

.tabs:hover{
    color: black;
    font-weight:bold
}