.job-card img{
    height: 150px;
    object-fit: cover;
}
.all{
    position:fixed;
    width: 100%;
    z-index: -1000;
    object-fit: cover;
}

.tabs{
    color: black;
}

.tabs:hover{
    color: black;
    font-weight:bold
}