/* Job Info */

.job-image{
    height: 500px; 
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.job-title{
    position: absolute;
    top: 72px;
    left: 126px;
    color: white;
    width: 1110px;
    height: 500px;
    background-image: linear-gradient(rgba(0.4,0.4,0.4,0.2), rgba(0.4,0.4,0.4,0.2));
}

.title-info{
    padding-top: 30px;
    padding-left: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.description-job{
    padding-left: 30px;
    padding-right: 400px;
}

/* Favourites and apply */

.buttons{
    margin-top: 20px; 
}

.fav{
    position: absolute;
    top: 510px;
    left: 175px;
}

.remove-fav{
    position: absolute;
    top: 510px;
    left: 175px;  
}

.apply{
    position: absolute;
    top: 510px;
    left: 225px;
}

.applied{
    position: absolute;
    top: 513px;
    left: 225px;
}

/* Job Card */

.job-card{
    margin-top: 100px;
}

.job-card-info{
    margin-top: 100px;
    text-align: center;
    position: absolute;
    top: -180px;
    background-color: white;
    border-radius: 0px;
}

.host{
    display: flex;
    align-items: center;
}

.user-pic{
    display: inline;
    border: 2px solid #009485;
    border-radius: 50%;
    margin-right: 10px;
}

.pref-title{
    margin-top: 50px;
    margin-bottom: 30px;
}

.benefits{
    font-size: 16px;
}

.interests{
    font-size: 16px;
}

.skills{
    font-size: 16px;
}

.job-info ul{
    list-style: none;
}

.job-info ul li{
    text-align: left;
}